{% extends '@App/Account/default.html.twig' %}

{% set page_title = 'Dashboard'|trans %}
{% set meta_title = page_title %}

{% block content %}
    <div class="dashboard">
        <div class="row">
            <div class="col-md-8">
                Dashboard
            </div>
        </div>
  </div>
{% endblock %}
