{% extends 'AppBundle::Frontend/base.html.twig' %}

{% block body %}
    <body class="theme-envision">
        {% block header %}
            {% include "AppBundle:Frontend/Layout:header.html.twig" %}
        {% endblock %}
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        {% block footer %}
            {% include "AppBundle:Frontend/Layout:footer.html.twig" %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ grunt_asset('js/frontend_vendor.js') }}"></script>
            <script src="{{ grunt_asset('js/frontend.js') }}"></script>
        {% endblock %}
    </body>
{% endblock %}
