{% extends 'AppBundle::Backend/default.html.twig' %}

{% set page_title = 'Dashboard'|trans %}
{% set meta_title = page_title %}

{% block content %}
    <div class="row dashboard">
        Dashboard
    </div>
{% endblock %}

