/.idea
/app/config/parameters.yml
/build/
/phpunit.xml
/components
/node_modules/
/var/*
!/var/SymfonyRequirements.php
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/vendor-web/*
!/vendor-web/pixel-admin
/web/assets/
/web/bundles/
/web/css/
/web/fonts/
/web/img/
/web/bundles/
/web/components
/web/uploads/
/web/js/
