{% extends 'AppBundle::Frontend/default.html.twig' %}

{% block content %}
    <div class="homepage">
       Hello world
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
