{% block flashbag %}
    {% for message in app.session.flashbag.get('page_error') %}
        <div class="alert alert-danger alert-page">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('page_success') %}
        <div class="alert alert-success alert-page">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('page_info') %}
        <div class="alert alert-info alert-page">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashbag.get('page_warning') %}
        <div class="alert alert-warning alert-page">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}