<header class="navbar navbar-envision navbar-fixed-top header">
    <div class="container" >
        <div class="navbar-offcanvas navbar-offcanvas-right" id="js-bootstrap-offcanvas">
            <ul class="nav navbar-nav">
                <li class="visible-xs visible-sm login">
                    <a href="{{ url('frontend-user-login') }}">{{ 'Sign In'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>
</header>
